#each of the config key should be coresponding to the GlobalConfig properties.
hostName = controller 
ampqHost = 10.108.170.175
ampqPort = 5672
ampqUserName = www1234
ampqPassword = www1234
topicExchangeName = topic_securitycontroller
fanoutExchangeName = fanout_securitycontroller
#网络控制器主机地址
ncHost = http://10.108.170.175:8081
zooKeeperHost = 10.108.170.175
